html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 
a,
a:link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); text-decoration: none;
  color: #0000FF;
}
a:visited {
  color: rgba(255, 0, 55, 0.7);
}
a:hover,
a:active {
  color: rgb(249, 213, 28);
  border-color: rgb(249, 213, 28);
}

#flash div{
	margin-top: 20px;
	padding-left: 5px;
	padding-bottom: 10px;
	font-size: 20px;
}

#flash #notice{
	background: green;
}

#flash #error{
	background: red;
}

#page { 
	margin: 0 auto 200px auto; 
}	

#recently-added{
	padding-top: 5px;
	padding-left: 10px;
	border-left: 1px solid;
	padding-bottom: 45px;
}

#new_bookmark{
	padding-bottom: 10px;
}

input[type="text"]{
		width: 80%;
		height: 25px;
}
#search input[type="text"]{
	float: left;
	margin-bottom: 20px;
}

#section input[type="text"]{
	padding-top: 0;
	margin-bottom: 11px;

}

#section label{
	padding-top: 0;
	margin-right: 5px;
}

#recently-added ul{
	padding-left: 15px;
	padding-bottom:;
}

ul {
	margin-top: 10px;
}

#suggestions {
	margin: 0;
	padding: 0;
}

#main-content h1,
#main-content h3{
	font-weight: 200; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
 
#main-content h1 {
  font-size: 34px;
  margin-bottom: 0;
	margin-top: 0;
}

#main-content h3 {
	font-size: 24px; 
  margin-bottom: 0;
	margin-top: 10px;
}

#section fieldset{
	margin-right: 15px;
} 

#main-content legend {
	font-size: 24px; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  margin-bottom: 0;
	margin-top: 20px;
}

#search {
	border: black 2px solid;
	padding: 10px;
}
#search form{
	padding-top: 10px;
	margin-bottom:0px;
}

#section{
	margin-top: 20px;
}

.strong {
	font-weight: bold; 
}

.clear {
	clear: both;
}