%head
	%title "Bookmarks"
	= stylesheet_link_tag 'baseline.grid', 'baseline.form', 'baseline.type', 'style'
	= javascript_include_tag 'jquery-1.4.1', 'application'
%body
	#page
		#flash
			#notice.message{:style => "#{'display: none' unless flash[:notice]}" }= flash[:notice]
		#main-content
			= yield